<!-- categories-list.component.html -->
<div class="container mx-auto px-4 py-8">
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-2xl font-bold text-green-700">Category List</h1>
      <a href="/admin/categories/create" class="bg-green-700 text-white px-4 py-2 rounded-md hover:bg-green-600">Create Catagory</a>
    </div>
  
    <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
      <thead class="bg-green-700 text-white">
        <tr>
          <th class="py-2 px-4 text-left">Name</th>
          <th class="py-2 px-4 text-left">Image</th> <!-- New column for Image -->
          <th class="py-2 px-4 text-left">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td class="border-t px-4 py-2">{{ category.name }}</td>
          <td class="border-t px-4 py-2">
            <!-- Image column with a small thumbnail -->
            <img *ngIf="category.image" [src]="'http://localhost:8000/storage/' + category.image" alt="{{ category.name }}" class="w-16 h-16 object-cover rounded">
          </td>
          <td class="border-t px-4 py-2">
            <a [routerLink]="['/admin/categories/edit', category.id]" class="text-green-700 hover:text-green-500">Edit</a>
            <button (click)="deleteCategory(category.id)" class="text-red-600 hover:text-red-400 ml-4">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  